<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-list__item">
                        <a href="#" class="breadcrumbs-list__link" title="#">
                            Главная
                        </a>
                        <span class="breadcrumbs-list__sp">/</span>
                    </li>
                    <li class="breadcrumbs-list__item">
                        <span class="breadcrumbs-list__page">
                            страница не найдена
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="page-no">
    <div class="container">
        <div class="row">
            <div class="col section-title">
                <h1 class="section-title__top">
                    Страницы не существует
                    <span class="section-title__span section-title__span-red">!</span>
                </h1>
            </div>
        </div>
        <div class="row page-no__found">
            <div class="col">
                <p class="page-no__found-text">К сожалению, запрашивая страница не существует.</p>

                <p class="page-no__found-text">Пожалуйста, <a href="#" title="#" class="page-no__found-link">вернитесь</a> на главную страницу или воспользуйтесь навигационной панелью.</p>
            </div>
        </div>
    </div>
    <div class="page-no__img">
        <img src="img/page_no_found.svg" title="#" class="page-no__images">
    </div>
</section>