<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-list__item">
                        <a href="#" class="breadcrumbs-list__link" title="#">
                            Главная
                        </a>
                        <span class="breadcrumbs-list__sp">/</span>
                    </li>
                    <li class="breadcrumbs-list__item">
                        <a href="#" class="breadcrumbs-list__link" title="#">
                            название раздела
                        </a>
                        <span class="breadcrumbs-list__sp">/</span>
                    </li>
                    <li class="breadcrumbs-list__item">
                        <span class="breadcrumbs-list__page">
                            название страницы
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

 

<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col page-title">
                <h1 class="section-title__top">
                    Раскрой акрила (оргстекла)
                    <span class="section-title__span">.</span>
                </h1>
            </div>
            <div class="col page-text">                
                <div class="page-content__text">
                    <p>Резка оргстекла осуществляемая лазером обладает рядом особенностей: форма воспроизводится с большой точностью, края получаются оплавленными (полированными), однако создается внутреннее напряжение чувствительная к растворителям у краев материала.</p>
                    <p>Из оргстекла можно изготовить различные подставки под печатную продукцию и бижутерию, карманы для стендов, лицевые панели объемных букв других декоративных элементов.</p>
                    <ul>
                        <li>lorem ipsum dolor sit amet;</li>
                        <li>lorem ipsum dolor sit amet;</li>
                        <li>lorem ipsum dolor sit amet;</li>
                        <li>lorem ipsum dolor sit amet;</li>
                    </ul>
                    <p>Из оргстекла можно изготовить различные подставки под печатную продукцию и бижутерию, карманы для стендов, лицевые панели объемных букв других декоративных элементов.</p>
                </div>
            </div>
            <div class="col page-img">
                <div class="page-content__main-img">
                    <img src="/img/information_items_163.jpg" class="page-content__main-image" alt="#">
                </div>
                <a href="#" title="#" class="page-content__main-link">
                    примеры выполненных работ
                </a>
            </div>
        </div>
    </div>
</section>



<section class="price-page">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="section-title__top">
                    Стоимость продукции
                    <span class="section-title__span">:</span>
                </h3>
            </div>
            <div class="col">
                <table class="price-page__table table-main">
                    <thead class="table-main__thead">
                        <tr>
                            <th>Наименование продукции</th>
                            <th> -10 шт.</th>
                            <th> -50 шт.</th>
                            <th> +50 шт.</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Бейджик на булавке</td>
                            <td>104 ₽</td>
                            <td>96 ₽</td>
                            <td>88 ₽</td>
                        </tr>
                        <tr>
                            <td>Бейджик с окошком на булавке</td>
                            <td>104 ₽</td>
                            <td>96 ₽</td>
                            <td>88 ₽</td>
                        </tr>
                        <tr>
                            <td>Бейджик на магните</td>
                            <td>104 ₽</td>
                            <td>96 ₽</td>
                            <td>88 ₽</td>
                        </tr>
                        <tr>
                            <td>Бейджик с окошком на магните</td>
                            <td>104 ₽</td>
                            <td>96 ₽</td>
                            <td>88 ₽</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <a href="#" title="#" class="btn">
                   Заказать услугу
                </a>
            </div>
        </div>
    </div>
</section>





<section class="requirements">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title__top">
                    Требования к файлам
                    <span class="section-title__span section-title__span-red">!</span>
                </div>
                <p class="requirements-text">
                    Уважаемые клиенты!<br>
                    Просим Вас <span class="text-red">внимательно ознакомиться</span> с требованиями к файлам и макетам для печати.<br>
                    В случае, если файлы не отвечают требованиям, мы не сможем отправить задачу в печать.
                </p>
                <ul class="requirements-list">
                    <li class="requirements-list__item">файлы для фрезерного раскроя принимаются в CorelDRAW 13 версии;</li>
                    <li class="requirements-list__item">объекты для фрезерной обработки — в кривых.<br>Линии должны соответствовать краю изделия и иметь толщину контура Hairline;</li>
                    <li class="requirements-list__item">при фрезеровке бортиков, пазов, ступенек, края должны быть выделены другим цветом;</li>
                    <li class="requirements-list__item">шрифты должны быть переведены в кривые;</li>
                    <li class="requirements-list__item">масштаб 1:1;</li>
                    <li class="requirements-list__item">минимальное расстояние между объектами должно составлять не менее 5 мм.;</li>
                    <li class="requirements-list__item">технологические поля не менее 10 мм.</li>
                </ul>
                <p class="requirements-text">Правильно подготовленный макет сэкономит наше время и Ваши деньги.</p>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
</section>




<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="section-title__top">
                    Примеры выполненных работ
                    <span class="section-title__span">:</span>
                </h3>
            </div>
        </div>
        <div class="row items-list">
            <div class="col">
                <a href="#" class="items-list__link items-list__link-about" title="#">
                    <img src="img/information_items_171.jpg" class="items-list__images" alt="#">
                    
                    <div class="items-list__hover">
                        <svg class="_icon svg_plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve" width="512px" height="512px"><g><g>
                            <g>
                                <path d="M488,240H256V8c0-4.418-3.582-8-8-8s-8,3.582-8,8v232H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h232v232c0,4.418,3.582,8,8,8    s8-3.582,8-8V256h232c4.418,0,8-3.582,8-8S492.418,240,488,240z" data-original="#000000" class="active-path" data-old_color="#000000" />
                            </g>
                        </g></g> </svg>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#" class="items-list__link items-list__link-about" title="#">
                    <img src="img/information_items_163.jpg" class="items-list__images" alt="#">
                    
                    <div class="items-list__hover">
                        <svg class="_icon svg_plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve" width="512px" height="512px"><g><g>
                            <g>
                                <path d="M488,240H256V8c0-4.418-3.582-8-8-8s-8,3.582-8,8v232H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h232v232c0,4.418,3.582,8,8,8    s8-3.582,8-8V256h232c4.418,0,8-3.582,8-8S492.418,240,488,240z" data-original="#000000" class="active-path" data-old_color="#000000" />
                            </g>
                        </g></g> </svg>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#" class="items-list__link items-list__link-about" title="#">
                    <img src="img/information_items_90.jpg" class="items-list__images" alt="#">
                    
                    <div class="items-list__hover">
                        <svg class="_icon svg_plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve" width="512px" height="512px"><g><g>
                            <g>
                                <path d="M488,240H256V8c0-4.418-3.582-8-8-8s-8,3.582-8,8v232H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h232v232c0,4.418,3.582,8,8,8    s8-3.582,8-8V256h232c4.418,0,8-3.582,8-8S492.418,240,488,240z" data-original="#000000" class="active-path" data-old_color="#000000" />
                            </g>
                        </g></g> </svg>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#" class="items-list__link items-list__link-about" title="#">
                    <img src="img/information_items_174.jpg" class="items-list__images" alt="#">
                    
                    <div class="items-list__hover">
                        <svg class="_icon svg_plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve" width="512px" height="512px"><g><g>
                            <g>
                                <path d="M488,240H256V8c0-4.418-3.582-8-8-8s-8,3.582-8,8v232H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h232v232c0,4.418,3.582,8,8,8    s8-3.582,8-8V256h232c4.418,0,8-3.582,8-8S492.418,240,488,240z" data-original="#000000" class="active-path" data-old_color="#000000" />
                            </g>
                        </g></g> </svg>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#" class="items-list__link items-list__link-about" title="#">
                    <img src="img/information_items_163.jpg" class="items-list__images" alt="#">
                    
                    <div class="items-list__hover">
                        <svg class="_icon svg_plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve" width="512px" height="512px"><g><g>
                            <g>
                                <path d="M488,240H256V8c0-4.418-3.582-8-8-8s-8,3.582-8,8v232H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h232v232c0,4.418,3.582,8,8,8    s8-3.582,8-8V256h232c4.418,0,8-3.582,8-8S492.418,240,488,240z" data-original="#000000" class="active-path" data-old_color="#000000" />
                            </g>
                        </g></g> </svg>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#" class="items-list__link items-list__link-about" title="#">
                    <img src="img/information_items_90.jpg" class="items-list__images" alt="#">
                    
                    <div class="items-list__hover">
                        <svg class="_icon svg_plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve" width="512px" height="512px"><g><g>
                            <g>
                                <path d="M488,240H256V8c0-4.418-3.582-8-8-8s-8,3.582-8,8v232H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h232v232c0,4.418,3.582,8,8,8    s8-3.582,8-8V256h232c4.418,0,8-3.582,8-8S492.418,240,488,240z" data-original="#000000" class="active-path" data-old_color="#000000" />
                            </g>
                        </g></g> </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>